.about {
  border-radius: 0px 0px 10px 10px;
  background-image: url(.../img/about-mobile@1x.png);
}
.about__title {
    color: @special_orange;
  }
.about__comment {
  color: @white;
  .font(16px; 22px);
  .font-face-bold;
}
.about__article {
  color: @white;
  .font(16px; 22px);
  .font-face-light;
}