.about-you {
  .paint(@gray-blue-light);
}

.about-you__level {
  margin-top: 20px;
}

.about-you__avatar {
  margin-top: 20px;
  border-radius: 50%;
}

.about-you__button {
  .font(20px; 18px);
  .font-face-bold;
  text-transform: uppercase;
  color: @basic-blue;
  .paint(@special-blue-light);
  width: 84,37%;
  height: 40px;
  margin-top: 18px;
  border: none;
  border-radius: 20px;
}

.about-you__title {
  color: @basic-blue-light;
  text-transform: uppercase;
  .font(16px; 18px);
  .font-face-bold;
  text-align: center;
}

.about-you__tags {
  color: @basic-blue-light;
  .font(16px; 18px);
  .font-face-bold;
  opacity: 0.6;
  height: 89px;
  border: 2px solid @gray-blue-light;
  border-radius: 10px;
  width: 270px;
  margin: 0px auto 0px;
}

.about-you__transport {
  height: 63px;
  border: 2px solid @gray-blue-light;
  border-radius: 10px;
  color: @basic-blue-light;
  .font(16px; 18px);
  .font-face-bold;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid @gray-blue-light;
}
