.about {
  background-image: url(.../img/about-mobile@1x.png);
  padding-left: 50px;
  margin: 0px auto 0px;
  width: 320px;
}
.about__title {
    color: @special_orange;
    .font(24px; 24px);
    .font-face-bold;
  }
.about__comment {
  color: @white;
  .font(16px; 22px);
  .font-face-bold;
}
.about__article {
  color: @white;
  .font(16px; 22px);
  .font-face-light;
}