.authorization__title {
  .font(24px; 24px);
  .font-face-bold;
  color: @special_orange;
} 
.authorization__description {
  .font(16px; 22px);
  .font-face-light;
  color: @white;
  margin-top: 19px;
} 
.authorization__link {
  color: @basic_yellow;
  .font(16px; 22px);
  .font-face-light;
} 
.authorization__input {
  .paint(@white);
  border-radius: 10px;
  color: @special_gray;
} 
.authorization__button {} 
.authorization__comment {} 
.authorization__social {
  color: @basic_yellow;
  margin-left: 86px;
  .font(16px; 22px);
  .font-face-bold;
}
.authorization__tel {
  margin-bottom: 23px;
}
.authorization__mail {
  text-transform: uppercase;
  margin-bottom: 44px;
}