.companion {
  background-image: url(.../img/);
  background-color: @basic_back;
}
.companion__title {
  .font(24px; 24px);
  .font-face-bold;
  color: @special_orange;
  margin-top: 68px;
  margin-right: 131px;
  margin-left: 51px;
}
.companion__article {
  .font(16px; 22px);
  .font-face-light;
  color: @white;
  margin-left: 51px;
  margin-top: 19px;
}
.companion__comment {
  .font(16px; 22px);
  .font-face-bold;
  margin-top: 25px;
}
.companion__list {
  margin-top: 54px;
  margin-left: 25px;
  margin-right: 25px;
}
.companion__item {
  margin-bottom: 9px;
}
.companion__button {
  .paint(@basic_yellow);
  color: @basic_blue_light;
}
