.filtration-transport {
  border-top: 1px solid @yellow;
  padding-top: 12px;
}
.filtration-transport__title {
  text-transform: uppercase;
  .font(16px; 18px);
  .font-face-bold;
}
.filtration-transport__list {
  list-style: none;
  display: flex;
}
.filtration-transport__item {}