.first-step {
  .paint(@white);
  border-radius: 10px;
  margin-top: 24px;
}
.first-step__filters {
  margin: 20px auto 0px;
}
.first-step__fellow-travelers {}
.first-step__long {}
.first-step__child {
  color: @basic_blue_light;
  .font(15px; 15px);
  .font-face-normal;
}
.first-step__dates {}