.form {}

.form__list {
  list-style: none;
  padding: 0px;
}

.form__item {}

.form__title {
  color: @basic-blue-light;
  .font(18px; 18px);
  .font-face-medium;
}

.form__flag {}

.form__textarea {
  width: 220px;
  height: 220px;
  border-radius: 10px;
  border: 1pz solid @special-gray; 
}