.page-main {
  .paint(@basic_blue);
  background-image: url(.../img/);
}
.page-main__title {
  .font(36px; 40px);
  .font-face-bold;
  color: @white;
  margin-top:21px;
  margin-right: 41px;
  margin-left: 41px;
	}
.page-main__tel {}
.page-main__mail {}
.page-main__login {
  .size(190px; 40px);
  .paint(@basic_yellow);
  color: @basic_blue;
  margin-top: 245px;
  margin-right: 24px;
  margin-left: 106px;
}