.page-header {
  padding-top: 27px;
  padding-left: 25px;
  padding-right:25px;
  .paint(@white);
}
.page-header__logo{}
.page-header__contacts{
  margin-top: 66px;
  margin-bottom: 53px;
  margin-left: 86px;
}
.page-header__social{
  margin-right: 105px;
  margin-bottom: 41px;
  margin-left: 110px;
}