.plans {
  .paint(@special-blue-light);
  border-radius:10px;
  padding: 9%;
}

.plans__title {
  color: @basic-blue-light;
  .font(24px; 24px);
  .font-face-bold;
  margin-top: 28px;
}

.plans__list {
  margin-top: 0px;
  list-style: none;
  padding: 0px;
}

.plans__item {
  border-radius: 10px;
  .paint(@white);
  margin: 0px auto 10px;
  padding: 9%;
}