.route {
  .paint(blue_light);
}
.route__title {
  .font(24px; 24px);
  .font-face-bold;
  color: @special_orange;
  margin-top: 71px;
  margin-right: 126px;
  margin-left: 50px;
}
.route__article {
  .font(16px; 22px);
  .font-face-light;
  color:@special_gray;
  margin-right: 55px;
  margin-left: 49px;
}
.route__list {
  margin-top: 60px;
  margin-right: 25px;
  margin-left: 25px;
}
.route__item {
  margin-bottom: 9px;
  .paint(@white);
}
.route__button {
  .paint(@basic_yellow);
  color: @basic_blue_light;
  .font(18px; 18px);
  .font-face-bold;
}