.second-step {
  .paint(@white);
  border-radius: 10px;
  margin: 24px auto 0px;
  width: 66%;
  padding: 9%;
}

.second-step__country {
  border: none;
  padding: 0px;
}

.second-step__list {
  margin: 21px auto 3px;
  list-style: none;
  padding: 0px;
}

.second-step__item {}

.second-step__input {}

.second-step__flag {}

.second-step__delete {}